body {
    background-color: rgb(219, 218, 218);
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

header {
    border-bottom: 0;
}

.success-container {
    font-family: Be Vietnam;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 45%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
    background-color: white;
    border-radius: .7rem;
}

.success-container h1 {
    display: block;
    width: fit-content;
    font-size: 2rem;
    margin: auto;
    color: rgb(0, 184, 0);
    margin-bottom: 1rem;
}