{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Be Vietnam' rel='stylesheet'>
    <title>{{specific.name}}</title>
</head>

<body>
    {% include 'header.html' %}

    <div class="content">
        <div class="list-name group">
            <h1 class="category-section">{{specific.name}}</h1>
        </div>
        {% if cate_item %}
        <div class="item-list group">
            {% for item in cate_item %}
            <div class="item-container">
                <a href="{% url 'detail' item.id %}" class="image-container">
                    <img src="{{item.thumbnail.url}}" alt="" class="thumbnail">
                    <div class="middle">
                        <i class="fa fa-eye circle-eye" aria-hidden="true"></i>
                    </div>
                </a>
                <p class="item-title">{{item.title}}</p>
                <p class="item-price">{{item.price|intcomma}}VNĐ</p>
                <form action="" method="get">
                    <button class="add-cart" type="submit" name="cart" value="{{item.id}}"><i
                            class="fa fa-shopping-cart cart-icon"></i>Thêm
                        vào giỏ hàng</button>
                </form>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h1 class="no-item">Chưa có sản phẩm</h1>
        {% endif %}
    </div>
</body>
{% include 'footer.html' %}
</html>