{% extends 'adminpanel/base.html' %}

{% block title  %}
    Hàng đã đăng
{% endblock title %}

{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <th>Tên hàng</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Trạng thái</th>
            <th>Thao Tác</th>
            <th></th>
        </tr>
        {% for i in item %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.description}}</td>
                <td>{{i.price}}</td>
                {% if i.status %}
                    <td>Còn hàng</td>
                {% else %}
                    <td>Hết hàng</td>
                {% endif %}
                <td>Chỉnh sửa</td>
                <td>Xoá</td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}